html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* --------------------------------------------------------------
   fancy-type.css
   * Lots of pretty advanced classes for manipulating text.
   See the Readme file in this folder for additional instructions.
-------------------------------------------------------------- */

   p + p { text-indent:2em; margin-top:-1.5em; }
   form p + p  { text-indent: 0; } /* Don't want this in forms. */

.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

.dquo { margin-left: -.5em; }

p.incr, .incr p {
  font-size: 10px;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}

.caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size:1.2em;
  line-height:1%;
  font-weight:bold;
  padding:0 2px;
}


img.thumbnail {padding:5px; border:1px solid #e3e3e3;}
img.thumbnail:hover {padding:5px; border:1px solid navy;}

li{list-style:none}

#topMenu{display:block;}
#topMenu ul{overflow:hidden;background:#f7f6f6; padding:0px; margin:0px; margin-bottom:10px;}
#topMenu ul li{float:left}
#topMenu ul li a{display:block;padding:11px 10px;text-decoration:none;color:#000;font-size:1.0em;font-weight:bold;line-height:1}
#topMenu ul li a:hover{background:#e3e2e2; color:#9e1b34;}
#topMenu ul a.current{background:#e3e2e2; color:#9e1b34;}

#tabs{display:block;}
#tabs ul{overflow:hidden; padding:0px; margin:0px; margin-bottom:10px; border-bottom:1px solid #e3e3e3;}
#tabs ul li{float:left}
#tabs ul li a{display:block;padding:11px 10px;text-decoration:none;color:#000;font-size:1.0em;font-weight:bold;line-height:1}
#tabs ul li a:hover{background:#e3e2e2; color:#;}
#tabs ul a.current{background:#e3e3e3; color:#;}

html {font-size:100.01%;}
body {font-size:90%; color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:2.2em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.6em;margin-bottom:0.75em;}
h3 {font-size:1.3em;line-height:1;margin-bottom:1em;font-weight:bold;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}


A {	color: #af3e1c;text-decoration: none}
A:hover {color: #666666;text-decoration: underline;}

a.current {padding:5px; background-color:#dddddd; color:black;}
a.current:hover {padding:5px;}
a.navig {margin-right:15px;}

.add {padding-left: 20px;background: transparent url(../graph/add.png) no-repeat center left;}
.cancel {padding-left: 20px;background: transparent url(../graph/cancel.png) no-repeat center left;}
.facebook {padding-left: 20px;background: transparent url(../graph/facebook16.png) no-repeat center left;}
.update {padding-left: 20px;background: transparent url(../graph/update.png) no-repeat center left;}
.logout {padding-left: 20px;background: transparent url(../graph/cancel.png) no-repeat center left;}
.comment {padding-left: 18px;background: transparent url(../graph/comment.png) no-repeat center left;}
.comments {padding-left: 20px;background: transparent url(../graph/comments.png) no-repeat center left;}
.hide {padding-left: 18px;background: transparent url(../graph/hide.png) no-repeat center left;}

/*
START tabs
*/
#wrapper {
    width:620px;
    /*height:200px;*/
}
ul.tabs {
    margin:0;
    padding:0;
}
ul.tabs li {
    display:block;
    float:left;
    padding:0 2px;
}
ul.tabs li a {
    display:block;
    float:left;
    padding:5px;
    font-size:0.8em;
    background-color:#b5cb10;
    color:#fff;
    text-decoration:none; width:45px; text-align:center
}

ul.tabs li a:hover {
    background-color:#af3e1c;
}
.selected {
    font-weight:bold;
}
.tab_content {
	clear:both;
    border-top:1px solid #ddd;
    padding: 10px;
}

/*
Buttons
*/

.btn {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.btn:hover {
	text-decoration: none;
}
.btn:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	font-size: 18px;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	border-radius: 1.2em;
}

.green {
	color: #fff;
	border: solid 1px #af3e1c;
	background: #af3e1c;
	background: -webkit-gradient(linear, left top, left bottom, from(#ea682e), to(#af3e1c));
	background: -moz-linear-gradient(top,  #ea682e,  #af3e1c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea682e', endColorstr='#af3e1c');
}
.green:hover {
 	color: #fff;
	border: solid 1px #538312;
	background: #b5cb10;
	background: -webkit-gradient(linear, left top, left bottom, from(#b5cb10), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #b5cb10,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5cb10', endColorstr='#4e7d0e');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

